.idea
*.py[cod]
.vscode
__pycache__
.mypy_cache

# SQLite databases
*.sqlite

# Virtual environment
env/*
.env
venv/*
*/env
.venv

*.DS_Store
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ruff_cache

pyrightconfig.json
